* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

nav {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* align-items: center; */
  padding: 20px 40px;
  background-color: orange;
  color: white;
}

ul {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.links {
  display: block;
}

li {
  list-style: none;
  color: white;
}

li > a {
  padding: 4px 10px;
  color: brown;
  text-decoration: none;
  font-size: 1.2rem;
}

.navBtn {
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hero {
  padding: 50px 100px;
}

.hero > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero > div > p {
  text-align: center;
}

img {
  content: fit;
}
.heroLinks {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  justify-items: start;
  gap: 10px;
  margin-top: 50px;
}

.heroLinks a {
  width: fit-content;
  text-decoration: none;
  text-align: start;
  /* border: 1px solid red; */
  color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px 50px;
  color: white;
  gap: 10px;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials a {
  color:white;
  text-decoration: none;
}

@media (max-width: 600px) {
  nav {
    background-color: red;
  }
  .links {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color:green;
    display: none;
    width:50%;
  }
  .navBtn {
    display: block;
  }
  ul {
    flex-direction: column;
    gap: 5px;
    height: 60vh;
    margin: auto 0;
    margin-left: 40px;
  }
}
