@import url("https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UoqMunThenKhung&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manufacturing Consent", system-ui;
  /* border: 1px solid red; */
}
